.logout {
  text-decoration: none;
  color: #ffd523;
}

.logout:hover {
  color: white;
}

.bayar {
  text-decoration: none;
  color: #5f8d4e;
}

.batal {
  text-decoration: none;
  color: #8e3200;
}

.bayar:hover {
  color: white;
}

.batal:hover {
  color: white;
}
